bin

# p2 files
vmc/all.p2
vmc/commands.p2
input/commands.log
vmc/genp2.log
input/p2nmcheck.f

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# build directory
build

# emacs
*~
